[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

MemoryCaptures/

# Asset meta data should stay
!*.meta

# Visual Studio / Rider
.vs/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd

# OS files
.DS_Store
Thumbs.db
My project/[Ll]ibrary/
My project/[Tt]emp/
My project/[Oo]bj/
My project/[Bb]uild/
My project/[Bb]uilds/
My project/[Ll]ogs/
My project/UserSettings/